
.match-container
  width 100%
  height 100%
  overflow hidden


  .match-options
    width 100%
    height 30%
    float left
    background-color lightblue

    .match-options-actions
      width 50%
      height 100%
      background-color green
      float left

    .players-container
      width 50%
      height 100%
      background-color green
      float left
      padding 1% 0 0 0
      box-sizing border-box

      button.player-button
        font-size 100%
        width calc(25% - 1%)
        height calc(33% - 1%)
        outline none
        background-color #ffff00
        border 1px solid #000000
        border-radius 15px
        float left
        &:active
          box-shadow inset rgba(0, 0, 0, 0.5) 0 0 5px

  .match-actions
    width 73%
    height 70%
    float left
    background-color lightgreen

    .action-title
      width 100%
      height 15%
      background-color #000000
      float left

    .action-container
      width 100%
      height 100%
      background-color #000000
      float left
      padding 0 0 0 1%
      box-sizing border-box


      button.action-button
        font-size 100%
        width calc(34% - 1%)
        height calc(15% - 1%)
        outline none
        background-color dimgray
        border 1px solid #000000
        border-radius 15px
        float left
        &:active
          box-shadow inset rgba(0, 0, 0, 0.5) 0 0 5px

      button.action-button.good
        background-color #008000
      button.action-button.none
        background-color #696969
      button.action-button.bad
        background-color red
      button.action-button.fine
        background-color #ffff00

  .match-totals
    width 27%
    height 100%
    background-color #add8e6
    float left

