template(name='matchView')
    .match-container

        .match-options

            .players-container
                button.player-button 1
                button.player-button 2
                button.player-button 3
                button.player-button 4
                button.player-button 5
                button.player-button 6
                button.player-button 7
                button.player-button 8
                button.player-button 9
                button.player-button 10
                button.player-button 11
                button.player-button 12

            .match-options-actions



        .match-actions

            .action-title

            .action-container
                button.action-button.good Spike
                button.action-button.none Spike
                button.action-button.bad Spike
                button.action-button.good Block
                button.action-button.none Block
                button.action-button.bad Block
                button.action-button.good Service
                button.action-button.none Service
                button.action-button.bad Service
                button.action-button.fine Set
                button.action-button.none Set
                button.action-button.bad Set
                button.action-button.fine Receive
                button.action-button.none Receive
                button.action-button.bad Receive
                button.action-button.fine Dig
                button.action-button.none Dig
                button.action-button.bad Dig

        .match-totals


